main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.contenedor-formulario{
    background: white;
    width: 100%;
    max-width: 650px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0 0 0 0.5px);
}

.header-form{
    background-color: #003366;
    color: white;
    padding: 25px 20px;
    text-align: center;
}

.header-form h2{
    font-size: 1.5rem;
    margin: 0 0 5px 0;
}

.header-form p{
    font-size: 0.9rem;
    margin: 0;
    opacity: 0.9;
}


.formulario{
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 20px;
}

.fila-campos {
    display: flex;
    gap: 20px; /* Separación entre las dos columnas */
}

.campo-grupo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.campo-grupo label {
    font-weight: bold;
    color: #333;
    font-size: 0.95rem;
}

.campo-grupo input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.acciones-formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.btn-cancelar {
    color: #666;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.btn-cancelar:hover{
    color: #dc3545;
}

.btn-guardar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-guardar:hover {
    background-color: #218838;
}

@media (max-width: 550px) {
    .fila-campos {
        flex-direction: column;
        gap: 20px;
    }
    
    .acciones-formulario {
        flex-direction: column-reverse;
        gap: 20px;
    }
    
    .btn-guardar {
        width: 100%;
        justify-content: center;
    }
}