.container-cards{
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    width: 260px;
    min-height: 250px;
    padding: 25px;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.12);
}

.card p{
    flex-grow: 1;
    color: #555;
}

.card h3{
    margin-top: 0;
    margin-bottom: 15px;
    color: #003366;
}
.link-cards:hover{
    background: #4b6f97;
}

.link-cards {
    text-align: center;
    margin-top: 20px;
    padding: 10px 15px;
    background: #415A77;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer; /*Esto para que muestre la manito al pasar el mouse x arriba*/
}
